.login {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* Center the content */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Take full size */
  height: 100vh;
  width: 100%;

  /* Background */
  background: url('../../assets/bg1.png') center center / cover no-repeat;

  // background: center/cover url('~@/assets/login.png');
  .login-logo {
    width: 200px;
    height: 60px;
    display: block;
    margin: 0 auto 20px;
  }

  .login-container {
    width: 440px;
    height: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }

  .login-checkbox-label {
    color: #1890ff;
  }
  .login-gofuc {
    width: 307px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
}
